{% extends 'includes/_base_client.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block titre %}Blog{% endblock titre %}
{% block titre1 %}Blog{% endblock titre1 %}
{% block back %}url('{% static 'assets-client/img/blog-header.jpg' %}'){% endblock back %}
{% block content %}

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="row gy-5 posts-list">

{% for article in articles %}

              <div class="col-lg-6">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="{{article.image.url}}" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                  <a href="{% url 'detail_article' article.slug %}">{{article.titre|truncatechars:40}}</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i><a href="{% url 'detail_article' article.slug %}">{{article.auteur}}</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i><a href="{% url 'detail_article' article.slug %}">{{article.updated|timesince|truncatechars:15}}</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{% url 'detail_article' article.slug %}">12 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      {{article.description1|truncatechars:100}}
                  </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="{% url 'detail_article' article.slug %}">Lire plus<i class="bi bi-arrow-right"></i></a>
                  </div>

                </article>
              </div><!-- End post list item -->
              {% endfor %}

            </div><!-- End blog posts list -->
{% comment %} 
            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div><!-- End blog pagination --> {% endcomment %}
            {% if articles|length %}
            <!-- Pagination -->
            {% include "includes/_pagination.html" with page=articles %}
     
          </div>
  
          <div class="col-lg-4">
  
            <div class="sidebar">
  
   
              {% comment %} recherche {% endcomment %}
              {% include 'includes/recherche.html' %}
  
              {% comment %} categorie {% endcomment %}
              {% include 'includes/cat.html' %}
  
              {% comment %} recents articles {% endcomment %}
              {% include 'includes/recent_articles.html' %}
  
              {% comment %} tag {% endcomment %}
              {% include 'includes/tag.html' %}
  
            </div><!-- End Blog Sidebar -->
  
          </div>
  
        </div>
        {% endif %}
      </div>
    </section><!-- End Blog Section -->

  {% endblock content %}
  