
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>SONOMOU - Blog</span>
            </a>
            <p>Sur ce blog, nous partageons des articles sur le developpement web, sur le reseau informatique et sur la securité.</p>
            <div class="social-links d-flex  mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
                <h4>Liens du site</h4>
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}">Acceuil</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="{% url 'about'%}">A propos</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <a href="{% url 'team'%}">Notre equipe</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="{% url 'blog'%}">Blog</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Liens utils</h4>
                <ul>
                  <li>
                    <i class="bi bi-chevron-right"></i> <a href="https://grafikart.fr/" target="_blank">grafikart</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="https://openclassrooms.com/" target="_blank">openclassrooms</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="https://www.pierre-giraud.com/" target="_blank">pierre-giraud</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i> <a href="https://getfreecourses.co/" target="_blank">getfreecourses</a>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right"></i>
                    <a href="https://waytolearnx.com/" target="_blank">waytolearnx</a>
                  </li>
                </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactez-nous !</h4>
            <p>
              A108 Agbalepedo <br />
              Lome, TOGO<br /><br />
              <strong>Phone:</strong> +228 70 02 69 94<br />
              <strong>Email:</strong><a href="mailto:contact@sonomou.tech"> contact@sonomou.tech</a><br />
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> 
                <strong><span>SONOMOU.TECH</span></strong
                  >. All Rights Reserved
        </div>
        <div class="credits">
          Dveloppé par <a href="https://sekou-portfolio.herokuapp.com/" target="_blank">Abraham Sekou SONOMOU</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->