
  {% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets-client/img/logo.png' %} " alt=""> -->
        <h1 class="d-flex align-items-center">SONOMOU-Blog</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}" class="active">Acceuil</a></li>
          {% comment %} <li><a href="{% url 'about' %}">A propos</a></li> {% endcomment %}
          {% comment %} <li><a href="{% url 'service' %}">Services</a></li> {% endcomment %}
          {% comment %} <li><a href="{% url 'portfolio' %}">Portfolio</a></li> {% endcomment %}
          <li><a href="{% url 'team' %}">Notre equipe</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
