  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Bienvenu dans mon blog</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p> L'informatique est très vaste, mais en tant que particulier, vous cherchez surtout des tutoriels pour realiser des projets specifiques, vous-etes la bienvenue.</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'blog' %}" class="btn-get-started">Commençons !</a>
            {% comment %} <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> {% endcomment %}
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
