<ul class="sidebar-menu">
    <li class="menu-header">Main</li>
    <li class="dropdown active">
      <a href="{% url 'dashboard' %}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
    </li>
    <li class="dropdown">
      <a href="#" class="menu-toggle nav-link has-dropdown"><i
          data-feather="briefcase"></i><span>Mon compte</span></a>
      <ul class="dropdown-menu">
        <li><a class="nav-link" href="{% url 'profile' %}" data-toggle="tooltip" data-placement="top"
          title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Profile</a>
        </li>
        <li><a class="nav-link" href="{% url 'mes_articles' %}" data-toggle="tooltip" data-placement="top"
          title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-toggle="tooltip" data-placement="top"
          title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Mes articles</a>
        </li>
        <li><a class="nav-link" href="{% url 'ajout_articles' %}" data-toggle="tooltip" data-placement="top"
            title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-toggle="tooltip" data-placement="top"
            title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Ajouter un article</a>
          </li>
      </ul>
    </li>
  </ul>