    <!--Features area-->
    <section class="gray-bg pt-60 pb-60">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-1 order-md-1 order-sm-1">
                    <div class="pro-details-feature">
                        <img src="{% static 'assets-main/img/' %}" alt="">
                    </div>
                </div> -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-2 order-md-2 order-sm-2">
                    <div class="pro-details-feature">
                        <h3>Programmation</h3>
                        <p>La programmation, aussi appelée développement informatique, est un métier de l’informatique en constante évolution au vu des avancées technologiques permanentes.
                            La formation en programmation a pour objectif global de former des développeurs web maîtrisant le développement sur le serveur et sur le client.
                            </p>
                            <h4 style="text-decoration: underline;"><strong>Objectifs</strong></h4>
                       <p>Former des spécialistes du développement web, maîtrisant les langages de programmation et les technologies en vigueur: la programmation back-end, la programmation front-end, et les bases de données</p>
                      
                       <h4 style="text-decoration: underline;"><strong>Les compétences acquises</strong></h4>
                       <ul>
                            <li>Conception de sites Web; </li>
                            <li>Développement d’applications Web & Mobiles;</li>
                            <li>Programmation Python; </li>
                            <li>Maitrise des technologies du web (HTML/CSS, Javascript, référencement); </li>
                            <li>Maitrise du développement d’applications Web et Mobiles; </li>
                            <li>Conception et administration de bases de données;  </li>
                            <li>Réaliser les programmes pour la partie visible du site web (développeur web front-end ou intégrateur) </li>
                            <li>Produire des maquettes graphiques en respectant le prototypage et l’identité visuelle du client (ils pourront devenir web designer). </li>
                        </ul>
                       <h4 style="text-decoration: underline;"><strong>Débouchés</strong></h4>
                       <ul>
                        <li>Développeur web front-end et back-end </li>
                        <li>Développeur d'applications mobiles </li>
                        <li>Développeur e-commerce </li>
                        <li>Webdesigner</li>
                        <li>Administrateur de base de données</li>
                       </ul>
                       <h4 style="text-decoration: underline;"><strong>Cours de certifications professionnelles intégrées</strong></h4>
                       <ul>
                        <li>OCA: Oracle Certified Associate Java</li>
                        <li>OCP, MySQL 8.0 DA</li>
                       </ul>
                       <h4 style="text-decoration: underline;"><strong>Coût de la formation </strong></h4>
                        <ul>
                            <li>1 500 000F CFA</li>
                        </ul>
                        <a href="#">S'inscrire</a>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-3 order-md-4 order-sm-4 order-4 mt-4">
                    <div class="pro-details-feature">
                        <h3>Réseaux, Systèmes & Sécurité </h3>
                        <h4 style="text-decoration: underline;"><strong>Objectifs</strong></h4>
                        <p>La formation en Réseaux, Systèmes & Sécurité offre une formation technique dans les domaines de compétences tels que:</p>
                        <ul>
                             <li>L’administration et la sécurité des réseaux locaux</li>
                             <li>Le déploiement et l’administration des systèmes Windows et linux</li>
                         </ul>
                         <h4 style="text-decoration: underline;"><strong>Compétences acquises</strong></h4>
                         <p>La formation en Réseaux, Systèmes & Sécurité forme des spécialistes capables de:</p>
                         <ul>
                              <li>Développer et d’administrer différents types de réseaux informatiques</li>
                              <li>Mettre en place et administrer un réseau d’ordinateurs.</li>
                              <li>Mettre en œuvre, gérer et récupérer des données informatiques,</li>
                              <li>Mettre en œuvre et contrôler une politique de sécurité dans l’entreprise,</li>
                          </ul>
                          <h4 style="text-decoration: underline;"><strong>Cours de certifications professionnelles offerts dans le programme:</strong></h4>
                          <ul>
                               <li>Linux Essentiel</li>
                               <li>CCNA (Exam : 200-301 CCNA)</li>
                           </ul>
                           <h4 style="text-decoration: underline;"><strong>Débouchés</strong></h4>
                          <ul>
                               <li>Architecte réseau - Ingénieur Réseaux & Télécoms</li>
                               <li>Administrateur Système (Windows Server, Linux, etc.)</li>
                               <li>Administrateur réseau</li>
                           </ul>
                           <h4 style="text-decoration: underline;"><strong>Coût de la formation </strong></h4>
                          <ul>
                               <li>1 500 000F CFA</li>
                           </ul>
                        <a href="#">S'inscrire</a>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-4 order-md-3 order-sm-3 order-3">
                    <div class="pro-details-feature">
                        <img src="{% static 'assets-main/img/product/1.png' %}" alt="">
                    </div>
                </div> -->
            </div>
        </div>
    </section><!--Features area-->
 
