{% extends 'includes/_base_admin.html' %}
{% load static %}
{% block title %}Details Article{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<section class="section">
    <div class="section-body">
      <div class="row mt-sm-4">

        <div class="col-12 col-md-12 col-lg-4">
          <article class="article article-style-c">
            <div class="article-header">
              <div class="article-image" data-background="{{article.image.url}}">
              </div>
            </div>
            <div class="article-details">
              <div class="article-category"><a href="#">Publié il y a {{article.updated|timesince|truncatechars:15}}</a>
                {% comment %} <div class=""></div> <a href="#"></a> {% endcomment %}
              </div>
              <div class="article-title">
                <h2><a href="#">{{article.titre}}</a></h2>
              </div>
              <p>{{article.description}}.</p>
              <div class="article-user">
                <img alt="image" src="{{article.user.photo.url}}">
                <div class="article-user-details">
                  <div class="user-detail-name">
                    <a href="#">{{article.user}}</a>
                  </div>
                  <div class="text-job">{{article.specialite}}</div>
                </div>
              </div>
            </div>
          </article>

          <div class="card">
            <div class="card-header">
              <h4>Commentaires</h4>
            </div>
            <div class="card-body">
              <div class="card-body">
                <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">

                  <li class="media">
                    <img alt="image" class="mr-3 rounded-circle" width="70" src="{{article.user.photo.url}}">
                    <div class="media-body">
                      <div class="media-right">
                        <div class="text-primary">Approved</div>
                      </div>
                      <div class="media-title mb-1">Cara Stevens</div>
                      <div class="text-time">Yesterday</div>
                      <div class="media-description text-muted">Duis aute irure dolor in reprehenderit in voluptate
                        velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                      {% comment %} <div class="media-links">
                        <a href="#">View</a>
                        <div class="bullet"></div>
                        <a href="#">Edit</a>
                        <div class="bullet"></div>
                        <a href="#" class="text-danger">Trash</a>
                      </div> {% endcomment %}
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4>Skills</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Java</div>
                  </div>
                  <div class="media-progressbar p-t-10">
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-primary" data-width="70%"></div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Web Design</div>
                  </div>
                  <div class="media-progressbar p-t-10">
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-warning" data-width="80%"></div>
                    </div>
                  </div>
                </li>
                <li class="media">
                  <div class="media-body">
                    <div class="media-title">Photoshop</div>
                  </div>
                  <div class="media-progressbar p-t-10">
                    <div class="progress" data-height="6">
                      <div class="progress-bar bg-green" data-width="48%"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
          <div class="card">
            <div class="padding-20">
              <ul class="nav nav-tabs" id="myTab2" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                    aria-selected="true">About</a>
                </li>
              </ul>
              <div class="tab-content tab-bordered" id="myTab3Content">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                 
                  <p class="m-t-30">Completed my graduation in Arts from the well known and
                    renowned institution
                    of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was
                    affiliated
                    to M.S. University. I ranker in University exams from the same
                    university
                    from 1996-01.</p>
                  <p>Worked as Professor and Head of the department at Sarda Collage, Rajkot,
                    Gujarat
                    from 2003-2015 </p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when
                    an unknown printer took a galley of type and scrambled it to make a
                    type
                    specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged.</p>
                  <div class="section-title">Education</div>
                  <ul>
                    <li>B.A.,Gujarat University, Ahmedabad,India.</li>
                    <li>M.A.,Gujarat University, Ahmedabad, India.</li>
                    <li>P.H.D., Shaurashtra University, Rajkot</li>
                  </ul>
                  <div class="section-title">Experience</div>
                  <ul>
                    <li>One year experience as Jr. Professor from April-2009 to march-2010
                      at B.
                      J. Arts College, Ahmedabad.</li>
                    <li>Three year experience as Jr. Professor at V.S. Arts &amp; Commerse
                      Collage
                      from April - 2008 to April - 2011.</li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </li>
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry.
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

{% endblock content %}
