{% extends 'includes/_BaseMain.html' %}
{% load static %}
{% block title %}detail tutoriel | SONOMOU.TECH{% endblock title %}
{% load embed_video_tags %}

{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index-2.html">Acceuil</a></li>
                            <li>Tutoriel details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
	
	
	<!--blog body area start-->
    <div class="blog_details mt-60">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-9 col-md-12">
                    <!--blog grid area start-->
                    <div class="blog_wrapper">
                        <article class="single_blog">
                            <figure>
                               <div class="post_header">
                                   <h3 class="post_title">{{tutoriel.titre}}</h3>
                                    <div class="blog_meta"> 
                                        <span class="author">Categorie: <a href="{% url 'detail_tutoriel' tutoriel.pk %}">{{tutoriel.categorie}}</a> / </span>
                                        <span class="author">Publié par : <a href="#">{{tutoriel.auteur}}</a> / </span>
                                        <span class="post_date"> il y a : <a href="{% url 'detail_tutoriel' tutoriel.pk %}">{{tutoriel.updated|timesince|truncatechars:30}}</a></span>
                                    </div>
                                </div>
                                <div class="blog_thumb">

                                    {% if tutoriel.url %}
                                    {% video tutoriel.url as my_video %}
                                    {% comment %} URL: {{ my_video.url }} {% endcomment %}
                                    {% comment %} Thumbnail: {{ my_video.thumbnail }} {% endcomment %}
                                    {% comment %} Backend: {{ my_video.backend }} {% endcomment %}
                    
                                    {% video my_video "medium" %}
                                    {% endvideo %}
                    
                                    {% else %}
                                    <a href="{{tutoriel.url}}" target="_blank"><img src="{{tutoriel.image.url}}" alt="" class="img-fluid"></a>
                                  
                                  {% endif %}
                                    {% comment %} {% if tutoriel.image  %}
                                   <a href="#"><img src="{{tutoriel.image.url}}" alt=""></a>
                                    {% endif %} {% endcomment %}
                               </div>
                               <figcaption class="blog_content">
                                    <div class="post_content">

                                    </div>
                                    <div class="entry_content">
                                        <div class="post_meta">
                                            <span>Tags: </span>
                                            <span><a href="#">Drone, </a></span>
                                            <span><a href="#">Sky, </a></span>
                                            <span><a href="#">Fly</a></span>
                                        </div>
                                        {% comment %} contenu de l'artcle {% endcomment %}
                                            {{ tutoriel.description.html|safe}}

                                        <div class="social_sharing">
                                            <p>share this post:</p>
                                            <ul>
                                                <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                               </figcaption>
                            </figure>
                        </article>
                        <div class="comments_box">
                            <h3>3 Comments	</h3>
                            <div class="comment_list">
                                <div class="comment_thumb">
                                    <img src="assets/img/blog/comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">Admin</a></h5>
                                        <span>October 16, 2018 at 1:38 am</span> 
                                    </div>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure</p>
                                    <div class="comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>

                            </div>
                            <div class="comment_list list_two">
                                <div class="comment_thumb">
                                    <img src="assets/img/blog/comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">Demo</a></h5>
                                        <span>October 16, 2018 at 1:38 am</span> 
                                    </div>
                                    <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                    <div class="comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_list">
                                <div class="comment_thumb">
                                    <img src="assets/img/blog/comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">Admin</a></h5>
                                        <span>October 16, 2018 at 1:38 am</span> 
                                    </div>
                                    <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at</p>
                                    <div class="comment_reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments_form">
                            <h3>Leave a Reply </h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="#">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="review_comment">Comment </label>
                                        <textarea name="comment" id="review_comment" ></textarea>
                                    </div> 
                                    <div class="col-lg-4 col-md-4">
                                        <label for="author">Name</label>
                                        <input id="author"  type="text">

                                    </div> 
                                    <div class="col-lg-4 col-md-4">
                                        <label for="email">Email </label>
                                        <input id="email"  type="text">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="website">Website </label>
                                        <input id="website"  type="text">
                                    </div>   
                                </div>
                                <button class="button" type="submit">Post Comment</button>
                             </form>    
                        </div>
                         
                    </div>
                    <!--blog grid area start-->
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                                              {% comment %} inclusion de la recherche {% endcomment %}
                                              {% include 'includes/_rechercheTutoriel.html' %}
                        
                        {% if tutoriel_en_relation|length %}
                        <div class="widget_list widget_post">
                            <h3>Tutoriels en relation</h3>

                                {% for tutoriel in tutoriel_en_relation %}
                                <div class="post_wrapper">
                                    <div class="post_thumb">
                                        
                                        {% if tutoriel.image %}
                                        <a href="{% url 'detail_tutoriel' tutoriel.pk %}"><img src="{{tutoriel.image.url}}" alt=""></a>
                                        {% endif %}
                                            
                                    </div>
                                    <div class="post_info">
                                        <h3><a href="{% url 'detail_tutoriel' tutoriel.pk %}">{{tutoriel.titre|truncatechars:30}}</a></h3>
                                        <span>Publié il y a {{tutoriel.updated|timesince|truncatechars:15}}</span>
                                    </div>
                                </div>
                                {% endfor %}
    
                           
                           
                        </div>
                        {% endif %}
                        <div class="widget_list widget_tag">
                            <h3>Tag products</h3>
                            <div class="tag_widget">
                                <ul>
                                    <li><a href="#">Drone</a></li>
                                    <li><a href="#">Sky</a></li>
                                    <li><a href="#">Fly</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog section area end-->
	

{% endblock content %}
    