{% extends 'jobforest/includes/_base.html' %}
{% load static %}
{% block title %}Candidat{% endblock title %}
{% block header %}
		<!--************************************
				Banner start
		*************************************-->
		<div id="jf-innerbannervtwo" class="jf-innerbannervtwo">

		</div>
		<!--************************************
				Banner End
		*************************************-->
{% endblock header %}
{% block content %}
			<!--************************************
					Blog Grid Start
			*************************************-->
			<div class="jf-haslayout jf-sectionspace">
				<div class="container">
					<div class="row">
						<div class="jf-candidatesdetails">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
								<div class="jf-jobapplycenter jf-jobapplycentervthree">
									<figure class="jf-companyimg">
										<img src="{% static 'assets-jobforest/images/successstory/img-profile.jpg' %}" alt="image description">
									</figure>
									<div class="jf-companycontent">
										<div class="jf-jobapplydetails">
											<div class="jf-companyname">
												<h3>Sr Software Engineer &amp; Project Manager</h3>
												<span>Aviato Group of Company</span>
												<ul class="jf-postarticlemetavthree">
													<li>
														<a href="javascript:void(0);">
															<i class="lnr lnr-eye"></i>
															<span>1,744,588 views</span>
														</a>
													</li>
													<li>
														<a href="javascript:void(0);">
															<i class="lnr lnr-bug"></i>
															<span>Report Profile</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="jf-jobapplybtnlike">
											<div class="jf-likebtnbox">
												<a href="javascript:void(0);" class="jf-btn jf-active">Download Resume</a>
												<a class="jf-shortlist" href="javascript:void(0);">Shortlist This User</a>
											</div>
										</div>
									</div>
								</div>
								<div id="jf-twocolumns" class="jf-twocolumns">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 float-left">
											<div class="jf-adds jf-addsvthree">
									   			<a href="javascript:void(0);">
													<figure>	
														<img src="{% static 'assets-jobforest/images/adds-01.jpg' %}" alt="img description">
													</figure>
												</a>
												<span>Advertisement 540px X 80px</span>
											</div>
											<div class="jf-introduction jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-magic-wand"></i>
													<h2>Introduction</h2>
												</div>
												<div class="jf-description">
													<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim idest laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem aque laudantium, totam rem aiam eaque ipsa quae ab illo inventore veritatis et quasi architecto eibeatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
													<p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro qam est, qui dolorem ipsum quia dolor sit amet consectetur.</p>
												</div>
											</div>
											<div class="jf-candidateinfo jf-candidatebg">
												<div class="jf-jobdetailinfo">
													<div class="jf-title">
														<i class="lnr lnr-tag"></i>
														<h2>Candidate Information</h2>
													</div>
													<ul>
														<li><span>Gender:</span><em>Male</em></li>
														<li><span>Age:</span><em>26 Years</em></li>
														<li><span>Education:</span><em>Masters In Design &amp; Fashion</em></li>
														<li><span>Location:</span><em>Houston, U.S.A</em></li>
														<li><span>Experience:</span><em>5 Years</em></li>
														<li><span>Career Level:</span><em>Experienced Professional</em></li>
														<li><span>Current Company:</span><em>Aviato Group of Company</em></li>
														<li><span>Current Salary Range:</span><em>$40,000 - $45,000</em></li>
														<li><span>Expected Salary Range:</span><em>$50,000 - $55,000</em></li>
														<li><span>Languages:</span><em>English, Arabic</em></li>
														<li><span>Marital Status:</span><em>Single	</em></li>
													</ul>
												</div>
											</div>
											<div class="jf-experience jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-briefcase"></i>
													<h2>Experience</h2>
												</div>
												<div class="jf-experiencecontent">
													<figure>
														<img src="{% static 'assets-jobforest/images/successstory/img-01.jpg' %}" alt="person image">
													</figure>
													<div class="jf-successcontent">
														<div class="jf-successname">
															<h3>Sr Software Engineer &amp; Project Manager</h3>
															<a href="javascript:void(0);">Aviato Group of Company</a>
															<span>Sass Perfume &amp; Clothes</span>
															<time datetime="2008-02-14 20:00" class="jf-time">Jun 27, 2016</time>
														</div>
														<div class="jf-description">
															<p>Excepteur sint occaecat cupidatat non proident, sunt inlpa officia deserunt molliteu anim idest laborum. Sed utaiciatis unde omnis iste natus error sitame voluptatem accusntium dolorem aque laudantium totam rem.</p>
														</div>
													</div>
												</div>
												<div class="jf-projects">
													<div class="jf-title">
														<h4>Projects (230)</h4>
													</div>
													<div class="jf-experiencepro">
														<div class="jf-addprojectpart">
															<div class="jf-addproject">
																<figure class="jf-projectimg">
																	<img src="{% static 'assets-jobforest/images/projects/img-10.jpg' %}" alt="image description">
																</figure>
																<div class="jf-projectcontent">
																	<div class="jf-projectname">
																		<h4>580+ Professional Cartoon Faces &amp; Their Expressions</h4>
																		<a href="javascript:void(0);">www.addprojectlink.com</a>
																	</div>
																</div>
															</div>
														</div>
														<div class="jf-addprojectpart">
															<div class="jf-addproject">
																<figure class="jf-projectimg">
																	<img src="{% static 'assets-jobforest/images/projects/img-11.jpg' %}" alt="image description">
																</figure>
																<div class="jf-projectcontent">
																	<div class="jf-projectname">
																		<h4>580+ Professional Cartoon Faces &amp; Their Expressions</h4>
																		<a href="javascript:void(0);">www.addprojectlink.com</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="jf-experiencecontent">
													<figure class="jf-companyimg">
														<img src="{% static 'assets-jobforest/images/topcompanies/img-01.png' %}" alt="person image">
													</figure>
													<div class="jf-successcontent">
														<div class="jf-successname">
															<h3>Sr Software Engineer</h3>
															<a href="javascript:void(0);">Aviato Group of Company</a>
															<span>Washington, DC</span>
															<time datetime="2019-04-14 20:00" class="jf-time">Apr 2014 - May 2017</time>
														</div>
														<div class="jf-description">
															<p>Excepteur sint occaecat cupidatat non proident sunt ien culpa officia deserunt mollitie anim idest laborum sed ut perspiciatis unde omnis...</p>
														</div>
													</div>
												</div>
											</div>
											<div class="jf-adds jf-addsvthree">
									   			<a href="javascript:void(0);">
													<figure>	
														<img src="{% static 'assets-jobforest/images/adds-01.jpg' %}" alt="img description">
													</figure>
												</a>
												<span>Advertisement 540px X 80px</span>
											</div>
											<div class="jf-education jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-graduation-hat"></i>
													<h2>Education</h2>
												</div>
												<div class="jf-experiencecontent">
													<figure>
														<img src="{% static 'assets-jobforest/images/successstory/img-01.jpg' %}" alt="person image">
													</figure>
													<div class="jf-successcontent">
														<div class="jf-successname">
															<h3>Xyz Institute of Knowledge</h3>
															<a href="javascript:void(0);">Master of Business Administration</a>
															<span>Washington, DC</span>
															<time datetime="2008-02-14 20:00" class="jf-time">Jun 2017 - Present</time>
														</div>
														<div class="jf-description">
															<p>Excepteur sint occaecat cupidatat non proident sunt ien culpa officia deserunt mollitie anim idest laborum sed ut perspiciatis unde omnis...</p>
														</div>
													</div>
												</div>
												<div class="jf-experiencecontent">
													<figure class="jf-companyimg">
														<img src="{% static 'assets-jobforest/images/topcompanies/img-01.png' %}" alt="person image">
													</figure>
													<div class="jf-successcontent">
														<div class="jf-successname">
															<h3>Xyz Institute of Knowledge</h3>
															<a href="javascript:void(0);">Bechlor of Administration</a>
															<span>Washington, DC</span>
															<time datetime="2019-04-14 20:00" class="jf-time">Apr 2014 - May 2017</time>
														</div>
														<div class="jf-description">
															<p>Excepteur sint occaecat cupidatat non proident sunt ien culpa officia deserunt mollitie anim idest laborum sed ut perspiciatis unde omnis...</p>
														</div>
													</div>
												</div>
											</div>
											<div class="jf-skills jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-star"></i>
													<h2>Skills</h2>
												</div>
												<div id="jf-ourskill" class="jf-ourskill">
													<div class="jf-skill">
														<span class="jf-strenghtcomplete">100%</span>
														<div class="jf-skillholder" data-percent="100%">
															<div class="jf-skillbar"></div>
														</div>
														<h3>Designing Sense</h3>
													</div>
													<div class="jf-skill">
														<span class="jf-strenghtcomplete">84%</span>
														<div class="jf-skillholder" data-percent="84%">
															<div class="jf-skillbar"></div>
														</div>
														<h3>Communication</h3>
													</div>
													<div class="jf-skill">
														<span class="jf-strenghtcomplete">70%</span>
														<div class="jf-skillholder" data-percent="70%">
															<div class="jf-skillbar"></div>
														</div>
														<h3>Tool Grip</h3>
													</div>
													<div class="jf-skill">
														<span class="jf-strenghtcomplete">78%</span>
														<div class="jf-skillholder" data-percent="78%">
															<div class="jf-skillbar"></div>
														</div>
														<h3>Smart Work</h3>
													</div>
													<div class="jf-skill">
														<span class="jf-strenghtcomplete">94%</span>
														<div class="jf-skillholder" data-percent="94%">
															<div class="jf-skillbar"></div>
														</div>
														<h3>Customer Support</h3>
													</div>
													<div class="jf-skill">
														<span class="jf-strenghtcomplete">75%</span>
														<div class="jf-skillholder" data-percent="75%">
															<div class="jf-skillbar"></div>
														</div>
														<h3>Photography</h3>
													</div>	
												</div>
											</div>
											<div class="jf-education jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-gift"></i>
													<h2>Honor &amp; Award</h2>
												</div>
												<div class="jf-experiencecontent">
													<figure class="jf-companyimg">
														<img src="{% static 'assets-jobforest/images/topcompanies/img-04.png' %}" alt="person image">
													</figure>
													<div class="jf-successcontent">
														<div class="jf-successname">
															<h3>Xyz Institute of Knowledge</h3>
															<a href="javascript:void(0);">Master of Business Administration</a>
															<span>Washington, DC</span>
															<time datetime="2008-02-14 20:00" class="jf-time">Jun 2017 - Present</time>
														</div>
														<div class="jf-description">
															<p>Excepteur sint occaecat cupidatat non proident sunt ien culpa officia deserunt mollitie anim idest laborum sed ut perspiciatis unde omnis...</p>
														</div>
													</div>
												</div>
												<div class="jf-experiencecontent">
													<figure class="jf-companyimg">
														<img src="{% static 'assets-jobforest/images/topcompanies/img-06.png' %}" alt="person image">
													</figure>
													<div class="jf-successcontent">
														<div class="jf-successname">
															<h3>Xyz Institute of Knowledge</h3>
															<a href="javascript:void(0);">Bechlor of Administration</a>
															<span>Washington, DC</span>
															<time datetime="2019-04-14 20:00" class="jf-time">Apr 2014 - May 2017</time>
														</div>
														<div class="jf-description">
															<p>Excepteur sint occaecat cupidatat non proident sunt ien culpa officia deserunt mollitie anim idest laborum sed ut perspiciatis unde omnis...</p>
														</div>
													</div>
												</div>
											</div>
											<div class="jf-candidate jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-heart"></i>
													<h2>Candidate Interests</h2>
												</div>
												<div class="jf-tagvtwo jf-withicon">
													<a href="javascript:void(0);">Book Reading</a>
													<a href="javascript:void(0);">Sport Bikes</a>
													<a href="javascript:void(0);">Gaming</a>
													<a href="javascript:void(0);">Swiming</a>
													<a href="javascript:void(0);">Event Speech</a>
												</div>
											</div>
											<div class="jf-followedcom jf-candidatebg">
												<div class="jf-title">
													<i class="lnr lnr-bubble"></i>
													<h2>Companies Followed By</h2>
												</div>
												<div class="jf-employergrids jf-employerlist jf-employerlistvtwo">
													<div class="jf-employedetails">
														<div class="jf-widget">
															<div class="jf-angrycreativelist">
																<div class="jf-angrycreative">
																	<figure>
																		<img src="{% static 'assets-jobforest/images/topcompanies/img-01.png' %}" alt="image description">
																	</figure>
																</div>
																<div class="jf-employerdetails">
																	<h3>Angry Creative Bears</h3>
																	<h4><span>Member Since: Jun 27, 2010</span><span><i class="lnr lnr-eye"></i>1,744,588 views</span></h4>
																</div>
															</div>
															<ul class="jf-professionalinfo">
																<li><i class="lnr lnr-briefcase"></i><a href="javascript:void(0);">Open Jobs</a></li>
																<li><i class="lnr lnr-bubble"></i><a href="javascript:void(0);">Reviews</a></li>
																<li><i class="lnr lnr-bullhorn"></i><a href="javascript:void(0);">Q &amp; A</a></li>
															</ul>
														</div>
													</div>
													<div class="jf-employedetails">
														<div class="jf-widget">
															<div class="jf-angrycreativelist">
																<div class="jf-angrycreative">
																	<figure>
																		<img src="{% static 'assets-jobforest/images/topcompanies/img-02.png' %}" alt="image description">
																	</figure>
																</div>
																<div class="jf-employerdetails">
																	<h3>Aviato Group of Company</h3>
																	<h4><span>Member Since: Jun 27, 2010</span><span><i class="lnr lnr-eye"></i>1,744,588 views</span></h4>
																</div>
															</div>
															<ul class="jf-professionalinfo">
																<li><i class="lnr lnr-briefcase"></i><a href="javascript:void(0);">Open Jobs</a></li>
																<li><i class="lnr lnr-bubble"></i><a href="javascript:void(0);">Reviews</a></li>
																<li><i class="lnr lnr-bullhorn"></i><a href="javascript:void(0);">Q &amp; A</a></li>
															</ul>
														</div>
													</div>
													<div class="jf-employedetails">
														<div class="jf-widget">
															<div class="jf-angrycreativelist">
																<div class="jf-angrycreative">
																	<figure>
																		<img src="{% static 'assets-jobforest/images/topcompanies/img-03.png' %}" alt="image description">
																	</figure>
																</div>
																<div class="jf-employerdetails">
																	<h3>Ember Spa &amp; Saloon</h3>
																	<h4><span>Member Since: Jun 27, 2010</span><span><i class="lnr lnr-eye"></i>1,744,588 views</span></h4>
																</div>
															</div>
															<ul class="jf-professionalinfo">
																<li><i class="lnr lnr-briefcase"></i><a href="javascript:void(0);">Open Jobs</a></li>
																<li><i class="lnr lnr-bubble"></i><a href="javascript:void(0);">Reviews</a></li>
																<li><i class="lnr lnr-bullhorn"></i><a href="javascript:void(0);">Q &amp; A</a></li>
															</ul>
														</div>
													</div>
													<div class="jf-employedetails">
														<div class="jf-widget">
															<div class="jf-angrycreativelist">
																<div class="jf-angrycreative">
																	<figure>
																		<img src="{% static 'assets-jobforest/images/topcompanies/img-04.png' %}" alt="image description">
																	</figure>
																</div>
																<div class="jf-employerdetails">
																	<h3>Fast Run Cargo &amp; Movers</h3>
																	<h4><span>Member Since: Jun 27, 2010</span><span><i class="lnr lnr-eye"></i>1,744,588 views</span></h4>
																</div>
															</div>
															<ul class="jf-professionalinfo">
																<li><i class="lnr lnr-briefcase"></i><a href="javascript:void(0);">Open Jobs</a></li>
																<li><i class="lnr lnr-bubble"></i><a href="javascript:void(0);">Reviews</a></li>
																<li><i class="lnr lnr-bullhorn"></i><a href="javascript:void(0);">Q &amp; A</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 float-left">
											<aside id="jf-sidebar" class="jf-sidebar">
												<div class="jf-candidate jf-candidatebg">
													<div class="jf-title">
														<i class="lnr lnr-envelope"></i>
														<h2>Contact Candidate</h2>
													</div>
													<form class="jf-formtheme jf-formcontactus jf-formcontactusvtwo">
														<fieldset>
															<div class="form-group jf-inputwithicon">
																<i class="lnr lnr-user"></i>
																<input type="text" name="fullname" class="form-control" placeholder="Your Name">
															</div>
															<div class="form-group jf-inputwithicon">
																<i class="lnr lnr-envelope"></i>
																<input type="email" name="emailid" class="form-control" placeholder="Your Email">
															</div>
															<div class="form-group jf-inputwithicon">
																<i class="lnr lnr-tag"></i>
																<input type="text" name="subject" class="form-control" placeholder="Subject">
															</div>
															<div class="form-group jf-inputwithicon">
																<i class="lnr lnr-apartment"></i>
																<input type="text" name="subject" class="form-control" placeholder="Company">
															</div>
															<div class="form-group jf-inputwithicon">
																<i class="lnr lnr-bubble"></i>
																<textarea name="message" class="form-control" placeholder="Your Message"></textarea>
															</div>
															<div class="form-group">
																<button class="jf-btn jf-active" type="button">Submit</button>
															</div>
														</fieldset>
													</form>
												</div>
												<div class="jf-smartscan jf-candidatebg">
													<figure>	
														<img src="{% static 'assets-jobforest/images/scan-img.jpg' %}" alt="img description">
														<figcaption>
															<a href="javascript:void(0);" class="tg-qrcodedetails">
																<span><i class="lnr lnr-redo"></i>load<br>QR code</span>
															</a>
														</figcaption>
													</figure>
													<div class="jf-smartscancontent">
														<span><i class="lnr lnr-laptop-phone"></i></span>
														<span> Scan with your <em>Smart Phone</em> To Get It Handy.</span>
													</div>
												</div>
												<div class="jf-adds jf-jobsearchaddvtwo">
										   			<a href="javascript:void(0);" title="">
														<figure>	
															<img src="{% static 'assets-jobforest/images/adds-02.jpg' %}" alt="img description">
														</figure>
													</a>
													<span>Advertisement  540px X 80px</span>
												</div>
											</aside>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--************************************
					Blog Grid End
			*************************************-->
{% endblock content %}
