{% load static %}
{% include 'includes/head.html' %}
    <!-- ======= Header ======= -->
    {% include 'includes/_navbar.html' %}
    <!-- End Header -->
    

    {% block content %} {% endblock content %}

    {% include 'includes/footer.html' %}

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets-web/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'assets-web/vendor/aos/aos.js' %} "></script>
    <script src="{% static 'assets-web/vendor/glightbox/js/glightbox.min.js' %} "></script>
    <script src="{% static 'assets-web/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
    <script src="{% static 'assets-web/vendor/swiper/swiper-bundle.min.js' %} "></script>
    <script src="{% static 'assets-web/vendor/php-email-form/validate.js' %} "></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets-web/js/main.js' %} "></script>
  </body>
</html>
