{% load static %}

		<!--************************************
				Footer Start
		*************************************-->
		<footer id="jf-footer" class="jf-footer jf-haslayout">
			<nav class="jf-addnav">
				<ul>
					<li><a href="javascript:void(0);">Listing Policy</a></li>
					<li><a href="javascript:void(0);">Terms of Use</a></li>
					<li><a href="javascript:void(0);">Privacy Policy</a></li>
				</ul>
			</nav>
			<p class="jf-copyrights"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</footer>
		<!--************************************
				Footer End
		*************************************-->